body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #fff3e6;
    color: #333;
    text-align: center;
}

.hero {
    background: linear-gradient(135deg, #7b1e3a, #f28c28);
    color: white;
    padding: 60px 20px;
}

.tagline {
    font-size: 20px;
    margin-top: 10px;
}

#countdown {
    font-size: 22px;
    margin-top: 15px;
}

section {
    padding: 45px 20px;
    max-width: 950px;
    margin: auto;
}

h2 {
    color: #7b1e3a; /* maroon */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}

.gallery img {
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.events {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.event-card {
    background: white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.event-card.highlight {
    background: #fff0dc;
    border: 2px solid #f28c28;
}

.venue {
    font-size: 18px;
    color: #7b1e3a;
}

.quiz {
    margin-top: 30px;
}

.question {
   background: #f7c873;
    color: #7b1e3a;
    font-weight: 600;
    padding: 18px;
    margin: 18px auto;
    border-radius: 14px;
    max-width: 520px;
}

.question button {
    margin: 8px;
    padding: 10px 22px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.correct {
    background-color: #2ecc71 !important;
    color: white;
}

.wrong {
    background-color: #e74c3c !important;
    color: white;
}

footer {
    background: #7b1e3a;
    color: white;
    padding: 20px;
}
